.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns in the same row */
    grid-gap: 20px;
}

.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card h2 {
    font-size: 1.2rem;
    margin: 10px 0;
}